/* GENERAL PAGE SETTINGS */

body {

margin: 0;
font-family: Arial, sans-serif;
background: #f5f6f8;

}



/* HEADER */

header {

background: #0c2340;
color: white;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;

}


header h1 {

margin: 0;
font-size: 24px;

}



/* NAVIGATION */

nav a {

color: white;
margin-left: 20px;
text-decoration: none;
font-weight: bold;

}


nav a:hover {

text-decoration: underline;

}



/* HERO SECTION */

.hero {

background: #0c2340;
color: white;
text-align: center;
padding: 60
}
